server:
  servlet.context-path: /bpmn-activiti
  port: 9030

spring:
  application:
    name: bpmn-activiti-server

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/activiti?characterEncoding=UTF-8&useSSL=true
    username: root
    password: root

  security:
    oauth2:
      resourceserver:
        jwt:
          # 需要在host文件中定义auth-server服务地址
          jwk-set-uri: http://auth-server:9000/auth/realms/springseeds/protocol/openid-connect/certs

# 日志配置
logging:
  level:
    ROOT: INFO
    "[cn.phecde]": DEBUG    
    "[org.springframework.security]": DEBUG
    "[org.springframework.web]": DEBUG
    "[org.activiti]": DEBUG

phecde.bpmn.activiti:
  log:
    taskEventEnabled: true
    processEventEnabled: true   



